
body {
    margin: 0;
    font-weight: 300;
}

#topnav {
    overflow: hidden;
    background-color: white;
}

#topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 17px;
}

#nav-taquito {
    font-weight: 500;
    font-size: 30px;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
}
#header-taquito {
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
}
/* This is where Mr. Taquito Welcomes You */
#some-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content:center;
    padding-left: 16px;
}
h2 {
    font-weight: 500;
}
#main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}
#footer-taquito {
    display: flex;
    justify-content: center;
}