
body {
    margin: 0;
    font-weight: 300;
}
#nav-container {
 display: flex;
 justify-content: center;

}
#nav-taquito {
    font-weight: 500;
    font-size: 30px;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
}
h1 {
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
}
/* This is where Mr. Taquito Welcomes You */
#header-img2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content:center;
    padding-left: 16px;
}
#welcome {
    display: flex;
    justify-content: center;
}
#main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#jumbotron-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#number {
    color: red;
}
#form {
    width: 50%;

}
#signup {
    margin-top: 40px;
}
#footer-taquito {
    display: flex;
    justify-content: center;
}
@media (orientation: landscape) {
        h1 {
        color: red;
    }
}
@media (orientation: landscape) {
    h2 {
    color: darkgreen;
}
}
